//Colors
$color-default-black: #181818;
$color-default-white: #ffffff;
$color-chateau-green: #3ab25b;
$color-forest-green:  #21a038;
$color-emerald: #42dc6d;
$color-swans-down: #d9edde;
$color-off-green: #d8f0de;
$color-solitude:  #e6e7ea;
$color-light-slate-grey:  #828896;
$color-ghost-white: #f3f4f8;
$color-remy:  #f9dada;
$color-cinnabar:  #e14747;
$color-lemon-chiffon: #fff7cc;
$color-sun-flower:  #e1bd00;
$color-millbrook: #585752;


//Viewports
$vp-360:                            360px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;
